@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.pause {
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	20%,
	60% {
		transform: translateX(-5px);
	}
	40%,
	80% {
		transform: translateX(5px);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	20%,
	60% {
		transform: translateX(-5px);
	}
	40%,
	80% {
		transform: translateX(5px);
	}
}
.animate-shake {
	-webkit-animation: shake 0.3s ease-in-out;
	        animation: shake 0.3s ease-in-out;
}

.hover-effect {
	@apply duration-300 ease-in-out hover:brightness-125 transition-all;
}

/* @layer base {
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
} */

*,
*::before,
*::after {
	box-sizing: border-box;
}

.clearfix {
	overflow: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

button.slick-next {
	right: 80px;
	z-index: 10;
}

button.slick-prev {
	left: 20px;
	z-index: 10;
}

button.slick-next::before,
button.slick-prev::before {
	color: gray;
	background-color: #ffd3d3;
	width: 80px;
	height: 80px;
	font-size: 30px;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
}

button.slick-next::before {
	content: "\203A";
}

button.slick-prev::before {
	content: "\2039";
}

/* img {
	max-width: unset;
} */

.glass-magnifier > img:first-of-type {
	-o-object-fit: contain;
	object-fit: contain;
	width: 100% !important;
	height: 100% !important;
}

[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	background-color: var(--color);
	-webkit-mask-image: url("data:image/svg+xml");
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
	cursor: pointer;
	-webkit-transition: background-color 0.35s ease;
	transition: background-color 0.35s ease;
}

.clip-bottom {
	-webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.editor-content a {
	color: #2563eb; /* Tailwind blue-600 */
	text-decoration: underline;
}
.editor-content a:hover {
	color: #1d4ed8; /* Tailwind blue-700 */
}

.prose ol {
	list-style-type: decimal;
}

.prose ul {
	list-style-type: disc;
}

.prose menu {
	list-style-type: none;
}

.prose ol,
.prose ul {
	padding-left: 1.5rem;
}

.prose menu {
	margin-bottom: 0.5rem;
}

blockquote {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	margin-right: 40px;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0000;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
