@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-effect {
	@apply duration-300 ease-in-out hover:brightness-125 transition-all;
}

/* @layer base {
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
} */

*,
*::before,
*::after {
	box-sizing: border-box;
}

.clearfix {
	overflow: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

button.slick-next {
	right: 80px;
	z-index: 10;
}

button.slick-prev {
	left: 20px;
	z-index: 10;
}

button.slick-next::before,
button.slick-prev::before {
	color: gray;
	background-color: #ffd3d3;
	width: 80px;
	height: 80px;
	font-size: 30px;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
}

button.slick-next::before {
	content: "\203A";
}

button.slick-prev::before {
	content: "\2039";
}

img {
	max-width: unset;
}

.glass-magnifier > img:first-of-type {
	-o-object-fit: contain;
	object-fit: contain;
	width: 100% !important;
	height: 100% !important;
}

[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	background-color: var(--color);
	-webkit-mask-image: url("data:image/svg+xml");
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
	cursor: pointer;
	-webkit-transition: background-color 0.35s ease;
	transition: background-color 0.35s ease;
}
